body {
    font-family: Georgia;
}

#wrapper {
    margin: 0 auto;
    border: 1px solid gray;
    width: 1024px;
    height: auto;
}

header ul li {
    float: left;
    margin: 0 10px;
    list-style: none;
}

header h1 {
    margin: 20px 0 0 35px;
}

header #user-welcome-box {
    float: right;
    margin: 0 20px 0 0px;
}

aside {
    float: left;
    /*border: 1px solid #000;*/
    height: 100%;
}
aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 175px;
}
aside ul li {
    margin: 0;
    padding: 0;
}
aside ul li button {
    width: 80%;
    cursor: pointer;
    height: 35px;
    margin: 10px 0 0 20px;
}

/* SECTION */
section {
    border: 1px solid #000;
    height: 100%;
    float: left;
    width: 820px;
    margin: 0 0 0 10px;
}

section #breadcrumbs-box {
    width: 590px;
    border: 1px solid #000;
    float: left;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

section #tb-search {
    border: 1px solid #000;
    float: left;
    padding: 6px;
    margin: 10px 0 0 14px;
    height: 23px;
}

#content-box {
    padding: 0 0 0 0px;
}

/* SECTION END*/

section .recipe-thumbnail-box {
    width: 231px;
    border: 1px solid #000;
    height: 380px;
    float: left;
    margin: 10px 5px 0 13px;
    padding: 10px;
}

section .recipe-thumbnail-box .time-consuming {
    width: 60px;
    height: 30px;
    background: lightgray;
    padding: 10px 0 0 12px;
    float: left;
    border: 1px solid gray;
}

section .recipe-thumbnail-box *
{
    max-width: 230px;
}

section .recipe-thumbnail-box p
{
    overflow: auto;
}

section .recipe-thumbnail-box .btn-details {
    //
    width: 50%;
    height: 40px;
    margin: 0 0 0 35px;
}


footer {
    border-top: 1px solid gray;
    text-align: center;
    padding: 20px;
}

/* RECIPE */
#content-box article {
    float: right;
    width: 510px;
    border: 1px solid #000;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

#content-box article h3 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

#content-box p
{
    overflow: auto;
}

#content-box aside {
    width: 230px;
    border: 1px solid #000;
    float: left;
    margin: 10px 0 0 10px;
    padding: 10px;
}

#content-box aside .taglist {
    background: lightgray;
    margin: 10px 0;
    padding: 10px 10px;
}

#content-box aside img
{
    max-width: 230px;
}

#content-box section {
    margin: 0;
    border: none;
}
#content-box section .comment-box {
    width: 737px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px 10px 0 10px ;
}

#recipe-text {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

#content-box section .comment-box:nth-child(even) {
    background: lightgray;
}


/*RECIPE END*/

/* USER PAGE */
#user-box {
    width: 950px;
    padding: 20px;
}
#user-box .user-avatar {
    margin: 0 20px 0 0px;
    float:left;
}

#user-box .user-recipe {
    background: lightgray;
    padding: 15px;
    margin: 15px;
}

/* USER PAGE END */